<header>
  <nav class="portal">

    <div class="portal_buttons">
      <div>
        <a class="login_box" href="<%= root_url %>"><p>Login</p></a>
			</div>
			<div>
        <a class="sign_up_box" href="<%= new_user_url %>"><p>Sign Up</p></a>
			</div>
    </div>

  </nav>
</header>