<h1>Fotosfeer</h1>

<form action="<%= action %>" method="post" >
  <input type="hidden"
         name="authenticity_token"
        value="<%= form_authenticity_token %>">
  <% if value == "Sign Up" %>
    <input type="text" name="user[username]" placeholder="Username"><br>
  <% end  %>

  <input type="text" name="user[email]" placeholder="Email"><br>

  <input type="password" name="user[password]" placeholder="Password"><br>

  <input type="submit" value="<%= value %>">
	
</form>

<%= link_to "Sign In With Facebook", "auth/facebook" %>

