<form action="<%= action %>" method="post" >
  <input type="hidden"
         name="authenticity_token"
        value="<%= form_authenticity_token %>">
  <% if value == "Sign Up" %>
    <input type="text" name="user[username]" placeholder="Username"><br>
  <% end  %>

  <input type="text" name="user[email]" placeholder="Email" id="email_field"><br>

  <input type="password" name="user[password]" placeholder="Password" id="password_field"><br>

  <input type="submit" value="<%= value %>" id="login_button">
	
</form>



