<section class="home_page">


</section>

<script text="application/json" id="bootstrapped_current_user_id">
	<%= self.current_user.id.to_json.html_safe %>
</script>

<script text="application/json" id="bootstrapped_photos">
	<%= Photo.all.to_json.html_safe %>
</script>

<script>
	$(document).ready(function(){
	  ImgurClone.initialize($('#bootstrapped_current_user_id').html(), $('#bootstrapped_photos').html());
	});
</script>