<section class="home_page">


</section>

<script text="application/json" id="bootstrapped_current_user_id">
	<%= self.current_user.id %>
</script>

<script>
	$(document).ready(function(){
	  ImgurClone.initialize();
	});
</script>