<section class="photo_index">

  <h1>Photos Index Page</h1>

  <% @photos.each do |photo| %>
    <div class="images_index">
      <a href="/photos/<%= photo.id %>"><img src="<%= photo.image.url %>"></a>
    </div>
  <% end %>

</section>
