<header>
  <nav class="portal">

    <div id="portal_buttons">
      <ul>
        <li><a href="<%= root_url %>">Login</a></li>
        <li><a href="<%= new_user_url %>">Sign Up</a></li>
      </ul>
    </div>

  </nav>
</header>