<header>
  <nav class="portal">

    <div id="portal_buttons">
      <div>
        <a href="<%= root_url %>"><p>Login</p></a>
			</div>
			<div>
        <a href="<%= new_user_url %>"><p>Sign Up</p></a>
			</div>
    </div>

  </nav>
</header>