

.favorites-container{
	width: 1000px;
	margin: auto;
	height: 800px;
	margin-top: 50px;
}

#favorite-photos-container{
	border-left: 1px solid lightblue;
	border-right: 1px solid lightblue;
	width: 180px;
	height: 800px;
	float: left;
	overflow-y: scroll;
}

.favorite-photo{
	width: 180px;
	margin: auto;
	height: 130px;
	float: left;
	margin: 20px 0px;
}

.favorite-photo > a > img{
	margin-left: 24px;
	width: 130px;
	height: 130px;
}

#favorites-map{
	width: 800px;
	height: 800px;
	float: right;	
}

.favorite-popup > img{
	width: 100%;
}


