.display-enlarge{
	display: none;
}

#favorite-enlarge{
	display: block;
	background: yellow;
	width: 500px;
	height: 500px;
	position: relative;
	left: 350px;
	z-index: 100;
	border-radius: 5px;
}

.title-enlarge{
	position: absolute;
	display: block;
	width: 480px;
	height: auto;
	margin: auto;
	margin-top: 13px;
	left: 10px;
}

.title-enlarge h2{
	vertical-align: middle;
	font-size: 28px;
}

.photo-enlarge{
	position: absolute;
	display: block;
	width: 480px;
	height: 440px;
	margin-left: 0px;
	left: 10px;
	top: 46px;
	margin: auto;
}

.photo-enlarge > a {
	display: block;
	text-decoration: none;
	height: 100%;
	width: 100%;
}

.photo-enlarge > a > img{
	display: block;
	height: 100%;
	width: 100%;
}

.triangle{
	position: absolute;
	top: 486px;
	left: 215px;
	border-top: 34px solid yellow;
	border-bottom: 34px solid transparent;
	border-right: 34px solid transparent;
	border-left: 34px solid transparent;
	background: transparent;
}

.favorites-container{
	width: 1000px;
	margin: auto;
	height: 800px;
	margin-top: 50px;
}

#favorite-photos-container{
	border-left: 1px solid lightblue;
	border-right: 1px solid lightblue;
	width: 180px;
	height: 800px;
	float: left;
	overflow-y: scroll;
}

.favorite-photo{
	width: 180px;
	margin: auto;
	height: 130px;
	float: left;
	margin: 20px 0px;
}

.favorite-photo > a > img{
	margin-left: 24px;
	width: 130px;
	height: 130px;
}

#favorites-map{
	width: 800px;
	height: 800px;
	float: right;	
}




