// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header, nav, div, ul, li, p{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul, li{
  list-style: none;
}

header{
  border: 1px solid black;
  height: 40px;
}

nav{
  width: 1000px;
  margin: auto;
  height: 40px;
}

#home_link{
  height: 40px;
  background: lightgreen;
  float: left;
}

#home_link > p{
  padding: 0px 20px;
}

#nav_buttons{
  float: right;
}

#image_upload, #username{
  float: left;
  height: 40px;
  background: lightgreen;
  padding: 0px 20px;
  position: relative;
  border: 1px solid black;
}

#username_dropdown{
  display: none;
}

#username:hover #username_dropdown{
  display: block;
  width: 100px;
  background-color: white;
  position: absolute;
};

#portal_buttons{
  float: right;
}

#portal_buttons li{
  float: left;
}
