// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signed_in_header{
	background-color: black;
  height: 100%;
	width: 200px;
	position: absolute;
	z-index: 999;
}

.signed_in{
  min-width: 200px;
	width: 13%;
  height: 100%;
	background: black;
}

#home_link{
	padding-top: 10%;
	padding: 0px 10%;
	width: 80%;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	background: black;
}

#home_link > a{
  display: block;
  height: 100%;
  width: 100%;
	font-size: 36px;
	font-weight: bold;
	color: white;
}

#home_link p{
	text-align: center;
	width: 100%;
	padding: 3px 0px;
}

#nav_buttons{
	padding: 10%;
	width: 80%;
}

#username_dropdown{
	width: 150px;
	display: block;
	padding: 10px;
	margin: auto;
}

#username_dropdown li{
	width: 150px;
	margin: auto;
	display: block;
	padding: 10px 0px 10px 10px;
}

#username_dropdown a{
	width: 170px;
	height: 100%;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

#username{
	width: 150px;
	display: block;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	color: rgb(77,188,233);
	margin: auto;
}

#username p{
	display: block;
	width: 100%;
	height: 100%;
}

#username_dropdown li:hover{
	background: rgb(37,37,37);
}

#username_dropdown li:first-of-type{
	color: #4dbce9;
}

#username_dropdown li:first-of-type:hover{
	background: black;
}

#notification_bar{
	height: 30px;
	width: 100%;
	background: yellow;
	text-align: center;
	display: none;
	position: absolute;
	font-size: 24px;
}

