// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signed_in_header{
	background-color: black;
  height: 100%;
	width: 13%;
	float: left;
}

.signed_in{
  min-width: 200px;
	width: 13%;
  height: 100%;
	background: black;
	position: relative;
	z-index: 999999;
}

#home_link{
	padding: 10%;
	width: 80%;
}

#home_link > a{
  display: block;
  height: 100%;
  width: 100%;
	font-size: 36px;
	font-weight: bold;
	color: white;
}

#home_link p{
	text-align: center;
}

#nav_buttons{
	padding: 10%;
	width: 80%;
}

#image_upload{
	width: 150px;
	display: block;
	padding: 10px 10px 0px 10px;
	margin: auto;
}

#image_upload:hover{
	background: rgb(37,37,37);
}

#image_upload > a:link, #image_upload > a:visited{
	display: block;
	height: 100%;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

#username_dropdown{
	width: 150px;
	display: block;
	padding: 10px;
	margin: auto;
}

#username_dropdown li{
	width: 150px;
	margin: auto;
	display: block;
	padding: 10px 0px 10px 0px;
}

#username_dropdown a{
	width: 170px;
	height: 100%;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

#username{
	width: 150px;
	display: block;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	color: rgb(77,188,233);
	margin: auto;
}

#username p{
	display: block;
	width: 100%;
	height: 100%;
}

#username_dropdown li:hover{
	background: rgb(37,37,37);
}

#notification_bar{
	height: 30px;
	width: 100%;
	background: yellow;
	text-align: center;
	display: none;
	position: absolute;
	font-size: 24px;
}

