// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, section, div, img,  a{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul, li{
  list-style: none;
}

//INDEX

.images_index{
  border: 1px solid red;
  width: 200px;
  margin: auto;
  height: 200px;
  float:left;
  margin: 10px;
  overflow: hidden;
}

.images_index img {
	display: block;
    width: 100%;
}
.images_index a {
  width: 100%;
  height: auto;
}

.photo_index h1{
  text-align: center;
}
//INDEX && SHOW
.photo_show, .photo_index{
  border: 1px solid red;
  height: 1500px;
  width: 1000px;
  margin: auto;
  margin-top: 30px;
}


//SHOW

.photo_object{
  border: 1px solid blue;
  width: 600px;
  float: left;
}

.photo_object h1, p, .image_show_votes, .comments{
  padding: 10px;
}

.image_show, .image_show_votes, .comments{
    border: 1px solid black;
}

.image_show_votes{
  height: 50px;
}

.image_show_votes div{
  height: 40px;
  float: left;
}

.image_show{
  width: 500px;
  margin: auto;
  height: 400px;
  overflow: hidden;
}

.image_show img {
	display: block;
    width: 100%;
}

.browse_buttons{
  width: 300px;
  height: 50px;
  float: right;
}

.browse_buttons p{
  width: 100px;
  height: 30px;
  display: block;
  float: left;
}

.favorite_buttons{
  width: 300px;
  height: 50px;
  float: right;
}

.favorite_buttons input{
  width: 100px;
  height: 30px;
  display: block;
  float: left;
}

.standard_map{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  float: right;
}

.standard_map img {
    width: 100%;
    height: auto;
}

.directions{
  width: 300px;
  height: automatically;
  border: 1px solid black;
  float: right;
}