.group:after {
  content: "";
  display: table;
  clear: both;
}

.body{
	background: rgb(200, 200, 200);
	width: 87%;
	height: 105%;
}

.photo_show{
	overflow: scroll;
	height: 100%;
	width: 100%;
}

/*MAIN CONTENT VIEW*/
/*MAIN PHOTO*/
.main-photo-content{
	width: 55%;
	min-width: 500px;
	height: auto;
	float: left;
	margin-top: 4%;
}

.main-photo{
	background: black;
	height: auto;
	display: block;
	width: 100%;
	margin-top: 34px;
	margin-left: 34px;
}

.image_show{
  width: 100%;
  height: auto;
}

.image_show img{
	display: block;
	width: 100%;
	height: auto;
	border: 4px solid white;
}

.main-photo p{
	background: rgb(200, 200, 200);
	color: black;
	font-size: 20px;
	display: block;
	min-height: 40px;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	border: 4px solid rgb(200, 200, 200);
	border-top: 0px;
}

/*votes*/
.votes-container{
	background: white;
	padding-top: 20px;
	width: 100%;
	min-width: 500px;
	margin-left: 34px;
	height: 60px;
	border: 4px solid white;
}

.button-wrap{
	width: 10%;
	height: 100%;
	max-width: 44px;
	max-height: 44px;
	border: 4px solid black;
	background: white;
	float: left;
	margin-left: 3%;
}

#upvote-button-png{
	width: 100%;
	height: 100%;
	background: url('upvote.png');
	background-size: cover;
	cursor: pointer;
}

#downvote-button-png{
	width: 100%;
	height: 100%;
	background: url('downvote.png');
	background-size: cover;
	cursor: pointer;
}

.votes-container input:first-of-type{
	margin-left: 5px;
}

#favorite-button{
	height: 48px;
	font-size: 20px;
	font-style: bold;
	width: 27%;
	background: white;
	color: black;
	border: 4px solid black;
	margin-left: 2%;
}

#upvotes-bar-container{
	width: 30%;
	height: 48px;
	float: left;
	background: grey;
}

#upvotes-count{
	float: left;
	color: black;
	padding-top: 12px;
	width: 14%;
	text-align: center;
}

#upvotes-bar{
	height: 48px;
	background: rgb(209,231,81);
}

.upvote-clicked{
	background: rgb(209,231,81);
}

.downvote-clicked{
	background: grey;
}

/*favorites*/
.favorite-clicked{
	color: white !important;
	border: 4px solid black !important;
	background: black !important;
}

/*comments*/
.comments-container{
	width: 100%;
	margin-left: 34px;
	padding-top: 10px;
	margin-bottom: 30px;
	height: auto;
	border: 4px solid white;
	background: white;
}

#comment-input{
	width: 80%;
	height: 29px;
	float: left;
	background: white;
	color: black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#new-comment-submit{
	width: 20%;
	height: 32px;
	background: black;
	color: white;
	float: left;
}

#existing-posts-container{
	min-height: 20px;
	width: 100%;
}

#existing-posts-container > h3{
	padding-top: 5px;
	color: black;
	letter-spacing: 1px;
}

.comment-li{
	min-height: 70px;
	margin-left: 30px;
	position: relative;
}

.nest-collapse{
	width: 22px;
	height: 22px;
	position: absolute;
	left: -20px;
	background: white;
	border: 2px solid black;
}

.comment-buttons{
	background: pink;
}

.article-content{
	border-top: 2px solid black;
	margin-bottom: 10px;
	color: black;
	padding: 5px;
	padding-right: 0px;
}

.p-username{
	color: rgb(77,188,233);
	margin-bottom: 5px;
}

.article-content a{
	padding-top: 10px;
}

.reply-post-form{
	display: none;
}

.reply-post-form input:first-of-type{
	float:left;
	width: 79%;
	height: 30px;
	background: white;
	color: black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.reply-post-form input:last-of-type{
	float:left;
	width: 20%;
	height: 32px;
	background: black;
	color: white;
}

.display-reply{
	display: block;
}


/*SHOW SIDEBAR VIEW*/

.show-sidebar{
	background: rgb(200, 200, 200);
	width: 32%;
	min-width: 300px;
	height: auto;
	float: left;
	margin-top: 4%;
	margin-left: 8%;
}
/*nav buttons*/

.navigation{
	width: 100%;
	margin: auto;
	margin-top: 34px;
	margin-bottom: 10px;
}

.nav_button{
	float: right;
	height: 40px;
	width: 47%;
	font-size: 16px;
	border: 4px solid white;
}

.nav_button:first-of-type{
	float: left;
}

.nav_button > a{
	display: block;
	padding-top: 6px;
	font-size: 24px;
	text-align: center;
}

.nav_button a:visited, a:link{
	color: black;
}

// //map

#photo-map{
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
}

#map{ 
	position: absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

/*region form*/
#save-region-form{
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
}

#save-region-form > input{
	height: 30px;
	display: block;
	width: 100%;
	color: black;
}

#save-region-form > input:last-of-type{
	background:  black;
	color: white;
}

#save-region-form > input:last-of-type:hover{
	cursor: pointer;
}









