div, section, img, p, h2{
  margin: 0px;
  border: 0px;
  padding: 0px;
	font-family: inherit;
  font-size: 100%;
	vertical-align: baseline;
}

.photo_show{
	width: 100%;
}

.photo-detail-container{
	width: 1000px;
	height: 900px;
	margin: auto;
}

//ADJACENT PHOTOS VIEW

.adjacent-photos-view{
	width: 100%;
	height: 150px;
	padding: 0px 20px;
	background: lightblue;
}

.adjacent_photo_container{
	width: 15%;
	height: 130px;
}

.adjacent_photo_container img{
	width: 100%;
	height: 100%;
}

// MAIN CONTENT VIEW
// //MAIN PHOTO
.main-photo-content{
	border: 1px solid blue;
	width: 623px;
	height: auto;
	float: left;
}

.main-photo-content h2{
	font-size: 24px;
}

.main-photo{
	border: 1px solid purple;
	height: auto;
	display: block;
	width: 580px;
	margin: auto;
	margin-top: 20px;
}

.image_show{
	background: yellow;
	width: 500px;
	height: 500px;
	padding: 0px;
	margin: 0px;
}

.image_show img{
	width: 100%;
	height: 100%;
}

.main-photo p{
	display: block;
	min-height: 50px;
}

// //votes
.votes-container{
	width: 580px;
	height: 50px;
	margin: auto;
	margin-top: 10px;
	border: 1px solid purple;
}

.votes-container input{
	font-size: 14px;
	margin: 5px 2px;
	width: 50px;
	height: 40px;
	float: left;
}

.votes-container input:first-of-type{
	margin-left: 5px;
}

#favorite-button, #region-button{
	font-size: 14px;
	width: 80px;
}

#upvotes-bar-container{
	margin: 5px 20px 5px 20px;
	border: 1px solid purple;
	width: 250px;
	height: 40px;
	float: left;
}

.upvote-clicked{
	background: green;
}

.downvote-clicked{
	background: red;
}

// //favorites
.favorite-clicked{
	background: yellow;
}

// //comments
.comments-container{
	width: 580px;
	height: auto;
	margin: auto;
	margin-top: 10px;
	border: 1px solid purple;
}

#existing-posts-container{
	min-height: 20px;
}

.comment-li{
	min-height: 70px;
	margin-left: 30px;
}

.nest-collapse{
//	float: left;
}

.comment-buttons{
	background: pink;
}

.article-content{
	background: lightblue;
//	float: left;
}

.reply-post-form{
	display: none;
}

.display-reply{
	display: block;
}


//SHOW SIDEBAR VIEW

.show-sidebar{
	background: pink;
	width: 350px;
	height: 800px;
	float: right;
}

// //map

#photo-map{
	width: 300px;
	height: 300px;
	margin: auto;
	margin: 20px;
}

#map{ 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}