.regions-container{
	width: 1000px;
	margin: auto;
	height: 700px;
	border: 1px solid red;
	margin-top: 50px;
}

#region-header{
	width: 190;
	height: 700px;
	float: left;
}

#region-map{
	width: 790px;
	height: 700px;
	float: right;
}