.form-container{
	padding: none;
	width: 600px;
	height: 100px;
	margin: auto;
	position: relative;
}

.upload-form{
	display: none;
	height: 600px;
	width: 600px;
	margin: auto;
	position: absolute;
}

.image_selection{
	width: 500px;
	height: 200px;
	margin: auto;
}

.image_selection div{
	width: 250px;
	height: 200px;
	float: left;
}

.image_selection div:first-of-type{
//	border-right: 1px solid black;
}

#fileupload{
	width: 100%;
	height: 100%;
	float: right;
	background: lightgreen;
}

#dropzone p{
	background: green;
	display: block;
	width: 100%;
	height: 100%;
}

#progress{
	display: none;
}

.initial_update_form{
	display: none;
	height: 400px;
	width: 500px;
	margin: auto;
	background: red;
}

.upload_error{
	display: none;
	height: 400px;
	width: 500px;
	margin: auto;
	background: yellow;
}

.initial_update_form input{
	display: block;
}

.new_upload_preview{
	height: 300px;
	width: 300px;
	background: white;
}

.upload_img{
	height: 100%;
	width: 100%;
}

.display-form{
	display: block;
}

.hide-form{
	display: none;
}



