// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3, form, input, label, p, header{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html, body{

	margin-bottom: 50px;
	font-size: 16px;
	background: none
}

html{
	height: 100%
}

a{
	text-decoration: none;
}

.errors{
	text-align: center;
	height: auto;
	background-color: rgb(38,173,228);
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

header{
	position: absolute;
	background: none;
	z-index: 999;
	color: white;
	width: 100%;
}

.portal{
	width: 300px;
	float: right;
	margin-top: 50px;
}

.tagline{
	position: absolute;
	z-index: 9999;
	color: rgb(247, 247, 247);
	left: 31%;
	margin-top: 18%;
}

.tagline h2{
	font-size: 140px;
	font-style: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	letter-spacing: 4px;
}

.tagline h3{
	font-size: 50px;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.above_form{
	position: absolute;
	z-index: 9999;
	margin-left: 46% ;
	margin-top: 40%;
	color: none;
	font-size: 24px;
	background: white;
	padding: 12px;
	border-radius: 25px;
}

.above_form:hover{
	cursor: pointer;
}

.portal_buttons{
	
}

.portal_buttons div{
	float: left;
	margin-left: 40px;
}

.portal_buttons a{
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
	font-size: 24px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.portal_buttons a:hover{
	color: rgb(213, 213, 213);
}

.background_container{
	width: 500%;
	height: 100%;
}

.portal_background{
	width: 20%;
	height: 100%;
	overflow: hidden;
	background-size: cover;
	float: left;
}

.background_container{
	position: relative;
}

.fancybox-overlay{
	position: absolute;
	z-index: 99999;
}

.fancybox-skin{
	background: black;
	height: 500px;
	width: 300px;
}


#portal_form, #sign_up_form{
	display: none;
	padding: 15px;
}

#portal_form input, #sign_up_form input{
	width: 400px;
	height: 40px;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 20px;
}

#portal_form input:last-of-type, #sign_up_form input:last-of-type{
	width: 420px;
}

#portal_form a, #sign_up_form a{
	color: white;
	display: block;
	width: 250px;
	margin: auto;
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}



