// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, form, input, label, p{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
}

html, body{
	height: 100%;
}

.errors{
	text-align: center;
	height: auto;
	background-color: lightblue;
}

.portal_background{
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
}

.portal_form{
  background: white;
	display: block;
	width: 230px;
	margin: auto;
	margin-top: 200px;
	border: 1px solid lightgreen;
	border-radius: 5px;
}

.portal_form *{
	margin: 12px 0px;
}

.portal_form > h1{
	color: green;
	text-align: center;
}

.portal_form input{
	display: block;
	width: 180px;
	margin: auto;
	height: 20px;
}

.portal_form a{
	padding-top: 10px;
	display: block;
	width: 150px;
	margin: auto;
	margin-bottom: 10px;
}




