<div id="new-post-container">
	<form>
		<input type="text" id="comment-input" placeholder="Submit a comment" name="comment[body]"></input>
	
		<input type="submit" value="Save"></input>
	</form>
</div>

<div id="existing-posts-container">
	<h3>Posted Comments</h3>
	<% if (comments.length === 0){ %>
		<p>Be the first to comment!</p>
	<% } else { %>	
		
    <ul>
      <% comments_by_parent[""].forEach(function(top_level_comment){  %>
        <li>
			  	<%= JST['comments_partial']({ photo: photo, top_level_comment: top_level_comment, comments_by_parent: comments_by_parent }) %>
        </li> 
      <% }); %>
			
    </ul>
		
	<% } %>	
</div>
