<div id="new-post-container">
	<form>
		<input type="text" id="comment-input" placeholder="Submit a comment" name="comment[body]"></input>
	
		<input type="submit" value="Save"></input>
	</form>
</div>

<div id="existing-posts-container">

</div>