<div id="new-post-container">
	<form id="new-post-form">
		<input type="text" id="comment-input" placeholder="Submit a comment" name="comment[body]"></input>
	
		<input id="comment-submit" type="submit" value="Save"></input>
	</form>
</div>

<div id="existing-posts-container">
	<h3>Posted Comments</h3>
	<% if (comments.length === 0){ %>
		<p>Be the first to comment!</p>
	<% } else { %>	
		
    <ul>
      <% top_level_comments.forEach(function(top_level_comment){  %>
        <%= JST['parent_template']({top_level_comment: top_level_comment, comments: comments}) %>
      <% }); %>	
    </ul>
		
	<% } %>	
</div>
