<div id="new-post-container">
	<form id="new-post-form">
		<input type="text" id="comment-input" placeholder="Submit a comment" name="comment[body]"></input>
	
		<input id="comment-submit" type="submit" value="Save"></input>
	</form>
</div>

<div id="existing-posts-container">
	<h3>Posted Comments</h3>
	<% if (comments.length === 0){ %>
		<p>Be the first to comment!</p>
	<% } else { %>	
		
    <ul>
      <% top_level_comments.forEach(function(top_level_comment){  %>
        <li class="comment-li">
					<input type="submit" value="+" class="nest-collapse" data-id="<%= top_level_comment.escape('id') %>">
					<article class="article-content">
						<p><%= ImgurClone.UsersCollection.get(top_level_comment.escape("commenter_id")).escape("username") %></p>
						<p><%= top_level_comment.escape("body") %></p>
						<a href="#" class="reply-link">Reply<a>
					</article>
        </li> 
      <% }); %>	
    </ul>
		
	<% } %>	
</div>
