<header class="title-enlarge">
	<h2><%= photo.escape("title") %></h2>
</header>

<div class="photo-enlarge">
	<a href="#photos/<%= photo.escape('id') %>"><img src="<%= photo.escape('image_url') %>"></img></a>
</div>

<div class="triangle">
</div>
