<section class="navigation group">

<% if (previous == false){ %>
	<div class="nav_button">
	</div>
<% } else { %>
	<div class="nav_button" id="previous">
		<a href="#">Prev</a> 
	</div>
<% } %>

<% if (next == false){ %>
	<div class="nav_button"> 
	</div>
<% } else { %>
	<div class="nav_button" id="next">
		<a href="#">Next</a> 
	</div>
<% } %>
</section>

