<div class="image_selection">
	<div>
		<form action="#" id="fileupload">
			<input type="hidden"
						 name="authenticity_token"
						value="<%= ImgurClone.csrf_token %>"></input>
						
			<label>Browse Your Computer
				<input type="file" name="photo[image]"></input>
			</label>
		</form>
	</div>
	
	<div>
		
		
	</div>
	
</div>


