<section class="upload-form">
	
	<input type="file" name="photo[image]" id="fileupload" value="Browse Your Computer"></input>
	
	<div class="image_selection" id="image_selection_container" style="display:none">
		<div id="fileselect">
			<p>Browse Your Computer!</p>
		</div>

		<div id="dropzone">
			<p>DropZone!</p>
		</div>

	</div>
	
	<div id="initial_update_form" style="display:none">
		<input type="text" id="initial_title" name="photo[title]" placeholder="Title"></input>
		
		<div class="new_upload_preview">
			
		</div>
		
		<textarea name="photo[description]" placeholder="Description"></textarea>
		
		<div id="initial_update_buttons_wrap">
			<input type="submit" class="update_destroy_buttons" value="Add Photo" id="upload_image"></input>
			<input type="submit" class="update_destroy_buttons" value="Cancel" id="cancel_upload"></input>
		</div>
	</div>

	<div class="upload_error" style="display:none">
	
	</div>

	
</section>
	


