<div id='region-header'>
	<select class="region-select">	
		<option value="select-region">Select A Region!</option>
	
		<% myRegions.forEach(function(region){ %>
			<option class="region-option" value="<%= region.escape('id') %>"><%= region.escape('name') %></option>
		<% }) %>
	</select>
	
	<input type="submit" id="region_delete_button" value="Delete Region"></input>
	
	<input type="submit" class="new_region_form" id="new_region_button" value="Add Region!"></input>
	<input type="text" class="new_region_form" id="new_region_name" placeholder="Name"></input>
	
</div>