<div id='region-header'>
	<select class="region-select">
		
		<option>Select A Region!</option>
	
		<% myRegions.forEach(function(region){ %>
			<option class="region-option" data-id="<% region.escape('id') %>"><%= region.escape('name') %></option>
		<% }) %>
		
		<option id="add-region">Add A Region!</option>
		
	</select>
</div>