<div id='region-header'>
	<select class="region-select">
		
		<option value="select-region">Select A Region!</option>
	
		<% myRegions.forEach(function(region){ %>
			<option class="region-option" value="<%= region.escape('id') %>"><%= region.escape('name') %></option>
		<% }) %>
		
		<option value="add-region">Add A Region!</option>
		
	</select>
	
</div>