<form id="save-region-form">
	<input type="text" name="region[name]" id="save_region_name" placeholder="Name This Region!"></input>
	<input type="submit" value="Save Region" id="region-button"></input>
</form>