<header>
	<nav class="signed_in">
	  <div id="home_link">
	    <a href="#" id="home-link"><p>imgUm</p></a>
	  </div>

	  <div id="nav_buttons">
	    <div id="image_upload">
	      <a href="#" ><p>Upload Image</p></a>
	    </div>
			
      <ul id="username_dropdown">
				<li>
					<a href="#" id="test">TEST</a></li>
				</li>
				<li>
					<a href="#" id="my-images">My Images</a></li>
				</li>
				<li>
					<a href="#" id="my-favorites">My Favorites</a></li>
				</li>
				<li>
					<a href="#" id="my-regions">My Regions</a></li>
				</li>
				<li>
					<form action="/session" method="post">
						<input type="hidden" name="_method" value="DELETE"></input>
						<input type="submit" value="Logout"></input>
					</form>
				</li>
      </ul>

	    <div id="username">
	      <p><%= users.get(user_id).escape("username") %></p>
	    </div>
	  </div>
	</nav>
</header>
