<% if (currentUserVote.length > 0){ %>
<% 	var value = +currentUserVote[0].escape("value") %>
<% 	if (value === 1){ %>
<% 		var upvoted = true %>
<% 	} else if (value === -1) { %>
<% 		var downvoted = true %>
<% 	} %>
<% } %>

<% if (currentUserFavorite.length > 0){ %>
	<% var favorited = true %>
<% } %>


<% if (upvoted === true) { %>
	<div class="button-wrap upvote-clicked" id="upvote-button">
		<div id="upvote-button-png"></div>
	</div>
<% } else { %>
	<div class="button-wrap" id="upvote-button">
		<div id="upvote-button-png"></div>
	</div>
<% } %>

<% if (downvoted === true) { %>
	<div class="button-wrap downvote-clicked" id="downvote-button">
		<div id="downvote-button-png"></div>
	</div>
<% } else { %>
	<div class="button-wrap" id="downvote-button">
		<div id="downvote-button-png"></div>
	</div>
<% } %>




<div id="upvotes-bar-container">
	<p id="count"><%= count %></p>
  <div id="upvotes-bar" style="width: 0%;"></div>
</div>

<% if (favorited === true){ %>
	<input type="submit" value="Unfavorite" class="favorite-clicked" id="favorite-button"></input>
<% } else { %>
	<input type="submit" value="Favorite" id="favorite-button"></input>
<% } %>




















