

<input type="submit" value="Upvote" id="upvote-button"></input>
<input type="submit" value="Downvote" id="downvote-button"></input>


<div id="upvotes-bar-container">
    <div id="upvotes-bar" style="width: 0%;"></div>
</div>

<input type="submit" value="Favorite" id="favorite-button"></input>
<input type="submit" value="Create Region" id="region-button"></input>